body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Cambria, Georgia, serif;
    margin: 0;
    padding: 20px;
}

#corpo {
    max-width: 1200px;
    margin: auto; 
}

#topo {
    padding: 20px;
    text-align: center;
}

#menu {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    text-align: center;
}

#menu button {
    background-color: #2a2a2a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-family: Cambria, Georgia, serif;
    font-size: medium;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
}

#menu button:hover {
    background-color: #00d474;
    color: #000;
}

#botao1, #botao2, #botao3, #botao4, #botao5 {
    flex: 5;
}

#meio {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

#centro {
    padding: 15px;
    height: 400px;
    text-align: center;
}

#centro {
    flex: 2;
}

#centro button {
    background-color: #00d474;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    align-items: center;
    font-family: Cambria, Georgia, serif;
    font-size: medium;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
}

#centro button:hover {
    background-color: #ffffff;
    color: #000;
}


#rodape {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

#rodape p {
    color: #aaaaaa;
    margin-top: 10px;
}